%main.text-center
  %h1.text-2xl.sm:text-3xl.my-10 ユーザー情報
  %h2.text-xl.sm:text-2xl.my-5 ユーザー情報の編集
  = render "devise/shared/error_messages", resource: resource
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
    .text-left.mx-auto.my-10{:class => "w-11/12 sm:w-1/2"}
      .my-5
        %h3
          ユーザー名の変更
          \#{f.text_field :username, class: "border form w-full", placeholder: 'ユーザー名を入力してください。'}
      .my-5
        %h3
          メールアドレスの変更
          \#{f.email_field :email, autofocus: true, autocomplete: "email", class: "border form w-full", placeholder: 'メールアドレスを入力してください。'}
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      .my-5
        %h3
          パスワードの変更
          \#{f.password_field :password, autocomplete: "new-password", class: "border form w-full", placeholder: "新しいパスワード（６文字以上）"}
          %div
            = f.password_field :password_confirmation, autocomplete: "new-password", class: "border form w-full", placeholder: "新しいパスワード（確認用）"
      .my-5
        %h3
          変更を保存する
          \#{f.password_field :current_password, autocomplete: "current-password", class: "border form w-full", placeholder: "現在のパスワード"}
      = f.submit "更新", class: "button w-full"
    - =begin
    .my-20
      %h2.text-center.text-xl.sm:text-2xl.my-5 アカウントを削除したい方
      %p= button_to "削除", registration_path(resource_name), data: { confirm: "本当に削除してもよろしいですか？" }, method: :delete, class: "button w-full"
    - =end
  .my-10
    %h2.text-xl.sm:text-2xl 投稿した駐輪場
    .mx-auto{:class => "w-11/12"}
      #parking_paginate.flex.flex-wrap.justify-start.parking_cards.mx-auto
        - @user.parkings.each do |parking|
          .text-center.my-5.mx-5.parking_card
            .truncate
              = parking.name
              = link_to image_tag(parking.image.thumb.url), parking, id: "detail-" + parking.id.to_s, class: 'my-5 parking_img'
