<h2 class="text-center text-2xl sm:text-3xl my-10">新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field text-center">
    <%= f.label :username, "ユーザー名" %><br/>
    <%= f.text_field :username, class: "border" %>
  </div>

  <div class="field text-center">
    <%= f.label :email, "メールアドレス" %><br/>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "border" %>
  </div>

  <div class="field text-center">
    <%= f.label :password, "パスワード" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %>文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "border" %>
  </div>

  <div class="field text-center">
    <%= f.label :password_confirmation, "パスワード（確認用）" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "border" %>
  </div>

  <div class="actions text-center my-5">
    <%= f.submit "新規登録", class: "p-2 button" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
