<div class="text-center">
  <h2 class="text-2xl sm:text-3xl my-10">アカウント解除用のメールを送信する</h2>

  <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, 'メールアドレス' %><br />
      <%= f.email_field :email, class: "border", autofocus: true, autocomplete: "email", placeholder: 'メールアドレスを入力してください' %>
    </div>

    <div class="actions my-5">
      <%= f.submit "アカウント解除用のメールを送信する", class: 'p-2 button' %>
    </div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
