<div class="text-center">
  <h2 class="text-2xl sm:text-3xl my-10">パスワード変更画面</h2>

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, role: "form" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>
    <div class="text-left w-11/12 sm:w-1/2 mx-auto my-10">
      <div>
          <h2>パスワードの変更</h2>
          <%= f.password_field :password, autocomplete: "new-password", class: "border form w-full", placeholder: "新しいパスワード（６文字以上）" %>
        </div>

        <div>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "border form w-full", placeholder: "新しいパスワード（確認用）" %>
        </div>

      <%= f.submit "更新", class: "my-5 button w-full" %>
    </div>
  <% end %>
</div>


<%= render "devise/shared/links" %>
