.text-center
  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, role: "form" }) do |f|
    = render "devise/shared/error_messages", resource: resource
    %h2.text-2xl.sm:text-3xl.my-10 パスワード変更画面
    = f.hidden_field :reset_password_token
    .text-left.mx-auto.my-10{:class => "w-11/12 sm:w-1/2"}
      %div
        %h2 パスワードの変更
        = f.password_field :password, autocomplete: "new-password", class: "border form w-full", placeholder: "新しいパスワード（６文字以上）"
      %div
        = f.password_field :password_confirmation, autocomplete: "new-password", class: "border form w-full", placeholder: "新しいパスワード（確認用）"
      = f.submit "更新", class: "my-5 button w-full"
= render "devise/shared/links"
