<%= @contact.name %> 様 から問い合わせがありました。<br><br>
【メールアドレス】<br><%= @contact.email %><br><br>
【お問い合わせの種類】<br><%= @contact.genre %><br><br>
【お問い合わせ内容】<br><%= @contact.title %><br><br>
【お問い合わせ内容の詳細】<br><span style="white-space: pre-wrap;"><%= @contact.content %></span>