.text-center
  %h2.text-2xl.sm:text-3xl.my-10 ログイン
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .text-left.mx-auto.my-10{:class => "w-11/12 sm:w-1/2"}
      .my-5
        = f.label :email, "メールアドレス"
        = f.email_field :email, placeholder: 'メールアドレスを入力してください。', autofocus: true, autocomplete: "email", class: "border form w-full"
      .my-5
        = f.label :password, "パスワード（半角英数6文字以上）"
        %br/
        = f.password_field :password, placeholder: 'パスワードを入力してください。', autocomplete: "current-password", class: "border form w-full"
      .my-10
        = f.submit "ログイン", class: "button w-full"
= render "devise/shared/links"
