<% if @parking.errors.any? %>
    <div class="alert alert-danger">
        <ul>
            <% @parking.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= form_for @parking do |f| %>
    <div class="text-center">
      <div class="input-field my-5">
        <%= f.text_field :address, class: "block mx-auto my-5", id: "address", placeholder: "地名、施設名などを入力するか、地図をクリックしてマーカーを立ててください。" %>
        <a class="button p-2" onclick="codeAddress()">地図検索</a>
        <a id="del" class="button p-2 marker-delete right" onclick="deleteMarker()">
          <i class="fas fa-map-marker-alt fas-2x" style="color:red"></i>削除
        </a>
      </div>
      
      <div id="map" class="my-5">
        <%= render "map" %>
      </div>
      <div>
        <%= f.hidden_field :latitude %>
        <%= f.hidden_field :longitude %>
      </div>
      <div>
        <h2>駐輪場名</h2>
        <%= f.text_field :name, placeholder: '駐輪場名を入力してください。', class: 'border' %>
      </div>
      <div>
        <h2>駐輪料金</h2>
        <%= f.text_field :fee, placeholder: '半角数字で入力してください。', class: 'border' %>
      </div>
      <div>
        <h2>駐輪時間</h2>
        <%= f.text_field :time, placeholder: '半角数字で入力してください。', class: 'border' %>
      </div>
      <div>
        <h2>１時間当たりの駐輪料金</h2>
        <%= f.text_field :price, placeholder: '半角数字で入力してください。', class: 'border' %>
      </div>
      <div>
        <h2>収容台数</h2>
        <%= f.text_field :capacity, placeholder: '半角数字で入力してください。', class: 'border' %>
      </div>
      <div>
        <h2>その他備考</h2>
        <%= f.text_field :others, placeholder: 'その他備考を入力してください。', class: 'border' %>
      </div>
      <div>
        <h2>駐輪場の画像</h2>
        <%= f.file_field :image %>
        <%= f.hidden_field :image_cache %>
      </div>
      <%= f.submit '投稿', class: 'p-2 my-5 button' %>
    </div>
  <% end %>