<% if @parking.errors.any? %>
    <div class="alert alert-danger">
        <ul>
            <% @parking.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= form_for @parking do |f| %>
    <div class="text-center">
      
      <button id="del" class="button p-2" onclick="deleteMarker();">マーカー削除</button>
      <div id="map" class="my-5">
        <%= f.hidden_field :latitude %>
        <%= f.hidden_field :longitude %>
        <script>
          let map

          function initMap(){
            map = new google.maps.Map(document.getElementById('map'), {
              center: {lat: 40.7828, lng:-73.9653},
              zoom: 12,
            });

            // marker = new google.maps.Marker({
            //   position:  {lat: 40.7828, lng:-73.9653},
            //   map: map
            // });
          }

          function codeAddress(){
            let inputAddress = document.getElementById('address').value;

            geocoder.geocode( { 'address': inputAddress}, function(results, status) {
              if (status == 'OK') {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
                display.textContent = "検索結果：" + results[ 0 ].geometry.location
              } else {
                alert('該当する結果がありませんでした：' + status);
              }
            });   
          }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjNTpL1BqrIYRoPaDAH4njcuErg04Nnxk&callback=initMap" async defer></script>
      </div>
      <div>
        <h2>駐輪場名</h2>
        <%= f.text_field :name, placeholder: '駐輪場名を入力してください。', class: 'border' %>
      </div>
      <div>
        <h2>住所</h2>
        <%= f.text_field :address, placeholder: '住所名を入力してください。', class: 'border' %>
      </div>
      <div>
        <h2>駐輪料金</h2>
        <%= f.text_field :fee, placeholder: '駐輪料金を入力してください。', class: 'border' %>
      </div>
      <div>
        <h2>収容台数</h2>
        <%= f.text_field :capacity, placeholder: '収容台数を入力してください。', class: 'border' %>
      </div>
      <div>
        <h2>その他備考</h2>
        <%= f.text_field :others, placeholder: 'その他備考を入力してください。', class: 'border' %>
      </div>
      <div>
        <h2>駐輪場の画像</h2>
        <%= f.file_field :image %>
        <%= f.hidden_field :image_cache %>
      </div>
      <%= f.submit '投稿', class: 'p-2 my-5 button' %>
    </div>
  <% end %>