<% if @parking.errors.any? %>
    <div class="text-left w-11/12 sm:w-1/2 mx-auto">
        <ul>
            <% @parking.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= form_for @parking do |f| %>
    <div class="text-center">
    <div class="text-left w-11/12 sm:w-2/3 mx-auto my-10">
      <div class="input-field my-5">
        <h2 class="align-text-top">位置情報の登録<span class="need">必須</span></h2>
        <%= f.text_field :address, class: "block mx-auto form w-full", id: "address", placeholder: "地名、施設名を入力するか、地図をクリックして下さい。" %>
        <div class="text-center my-5">
          <a class="button" onclick="codeAddress()">地図検索</a>
          <a id="del" class="button marker-delete right" onclick="deleteMarker()">
            <i class="fas fa-map-marker-alt fas-2x" style="color:red"></i>削除
          </a>
        </div>
      </div>
    </div>
      
      <div id="map" class="my-5">
        <%= render "map" %>
      </div>
      <div class="text-left w-11/12 sm:w-2/3 mx-auto my-10">
        <div>
          <%= f.hidden_field :latitude %>
          <%= f.hidden_field :longitude %>
        </div>
        
        <div class="my-5">
          <h2 class="align-text-top">駐輪場名<span class="need">必須</span></h2>
          <%= f.text_field :name, placeholder: '駐輪場名を入力してください。', class: 'border form w-full' %>
        </div>
        
        <div class="my-5">
          <h2>駐輪料金<span class="need">必須</span></h2>
          <%= f.number_field :fee, placeholder: '半角数字で入力してください。', class: 'border form w-full' %>
        </div>
        
        <div class="my-5">
          <h2>駐輪時間<span class="need">必須</span></h2>
          <%= f.number_field :time, placeholder: '半角数字で入力してください。', class: 'border form w-full' %>
        </div>
        
        <div class="my-5">
          <h2>１時間当たりの駐輪料金<span class="need">必須</span></h2>
          <%= f.number_field :price, placeholder: '半角数字で入力してください。', class: 'border form w-full' %>
        </div>
        
        <div class="my-5">
          <h2>収容台数<span class="need">必須</span></h2>
          <%= f.number_field :capacity, placeholder: '半角数字で入力してください。', class: 'border form w-full' %>
        </div>
        
        <div class="my-5">
          <h2>その他備考</h2>
          <%= f.text_field :others, placeholder: 'その他備考を入力してください。', class: 'border form w-full' %>
        </div>
        
        <div class="my-5">
          <h2>駐輪場の画像</h2>
          <p class="text-sm sm:text-base">(未設定の場合は下の画像がセットされます。)</p>
          <%= f.file_field :image, onchange: "previewImage(preview)", class: "w-full my-5" %>
          <%= f.hidden_field :image_cache %>
          
          <%= image_tag @parking.image.url, id: "preview"  %>
        </div>
        <%= f.submit '投稿', class: 'my-5 button w-full' %>
      </div>
    </div>    
  <% end %>


  <script>
    function previewImage(id) {
      const file = event.target.files[0];
      const reader = new FileReader();
      reader.onloadend = function () {
        preview.src = reader.result;
      };
      if (file) {
        reader.readAsDataURL(file);
      } else {
        preview.src = "";
      }
    }
  </script>

