<div>
  <%= image_tag "/assets/LP仮.jpg" %>
</div>

<h1 class="text-2xl sm:text-3xl text-center my-10">駐輪場一覧</h1>
<div class="text-center">
  <%= render 'search_form' %>
</div>

<div class="w-11/12 mx-auto">
  <div class="flex flex-wrap justify-start parking_cards mx-auto">
    <% @parkings.each do |parking| %>
      <div class="text-center my-5 mx-5 parking_card">
        <div class="truncate">
          <%= parking.name %>
          <%= link_to image_tag(parking.image.thumb.url), parking, id: "detail-" + parking.id.to_s, class: 'my-5 parking_img' %>
        </div>
      </div>
    <% end %> 
  </div>
</div>

<%= paginate @parkings %>

<%= javascript_pack_tag 'getcurrentlocation' %>