<h1 class="text-2xl sm:text-3xl text-center my-10">駐輪場一覧</h1>
<div class="text-center">
  <%= form_with url: search_path, :method => 'get', model: @parkings do |f| %>
    <%= f.text_field :location, placeholder: "住所や行きたい場所を入力してください。" %>
    <%= f.submit '検索', class: "button p-2" %>
  <% end %>
  <button id="practice-oneclick">Find!!</button>
</div>

<div class="flex flex-wrap justify-between w-11/12 mx-auto">
  <% @parkings.each do |parking| %>
    <div class="text-center my-5 mx-auto parking_card">
      <%= link_to image_tag(parking.image.thumb.url), parking, id: "detail-" + parking.id.to_s, class: 'my-5' %>
    </div>
  <% end %> 
</div>

<%= paginate @parkings %>

<button id = "find-me">Show my location</button><br/>
<p id = "status"></p>
<a id = "map-link" target="_blank"></a>


<script>
  function geoFindMe() {

    const status = document.querySelector('#status');
    const mapLink = document.querySelector('#map-link');

    mapLink.href = '';
    mapLink.textContent = '';

    function success(position) {
      const latitude  = position.coords.latitude;
      const longitude = position.coords.longitude;

      status.textContent = '';
      mapLink.href = `https://www.openstreetmap.org/#map=18/${latitude}/${longitude}`;
      mapLink.textContent = `Latitude: ${latitude} °, Longitude: ${longitude} °`;
    }

    function error() {
      status.textContent = 'Unable to retrieve your location';
    }

    if(!navigator.geolocation) {
      status.textContent = 'Geolocation is not supported by your browser';
    } else {
      status.textContent = 'Locating…';
      navigator.geolocation.getCurrentPosition(success, error);
    }

  }

  document.querySelector('#find-me').addEventListener('click', geoFindMe);
</script>
