<h1 class="text-2xl sm:text-3xl text-center my-10">駐輪場一覧</h1>
<div class="text-center">
  <%= form_tag(search_path, :method => 'get') do %>
    <%= label_tag :location, '検索フォーム', class: 'block' %>
    <%= text_field_tag :location, '', placeholder: "住所や行きたい場所を入力してください。" %>
    <%= submit_tag '検索', class: "button p-2" %>
  <% end %>
</div>


<div class="flex flex-wrap justify-between w-11/12 mx-auto">
  <% @parkings.each do |parking| %>
    <div class="text-center my-5 mx-auto">
      <%= link_to image_tag(parking.image.thumb.url), parking, id: "detail-" + parking.id.to_s, class: 'my-5 parking_card' %>
    </div>
  <% end %> 
</div>

<%= paginate @parkings %>