<% if flash[:notice] %>
  <div><%= flash[:notice] %></div>
<% end %>

<div class="text-center mx-auto ">
  <h2 class="text-2xl sm:text-3xl my-10 text-center">
    <%= @parking.name %>
  </h2>
  
    <ul class="flex justify-center my-10">
      <% if user_signed_in? && current_user.id == @parking.user.id %>
        <li class="mx-5">
          <%= link_to edit_parking_path(@parking) do %>
            <i class="fas fa-edit show_icon"></i><span class="lightgray hidden sm:inline"> 投稿を編集</span>
          <% end %>
        </li>
        <li class="mx-5">
          <%= link_to @parking, data: { confirm: "本当に削除してもよろしいですか？" }, method: :delete do %>
            <i class="fas fa-trash-alt show_icon"></i><span class="lightgray hidden sm:inline"> 投稿を削除</span>
          <% end %>
      </li>
      <% end %>
      <li id="favorites_buttons<%= @parking.id %>" class="mx-5">
        <%= render partial: 'favorites/favorite', locals: { parking: @parking, favorite: @favorite} %>
      </li>
    </ul>
</div>
  
  <%= render "show_map" %>
  
  <% if user_signed_in? %>
    <!-- Googleマップにリンクを飛ばしたのは、そちらの方がルート検索機能が充実していて使いやすいため-->
    <div class="text-center">
      <button class="button my-5"><a href="https://www.google.com/maps/search/?api=1&query=<%= @parking.latitude %>,<%= @parking.longitude %>">GoogleMapでルートを検索</a></button>
    </div>
  <% end %>
  
  <ul class="text-left sm:w-2/3 w-11/12 mx-auto">
    <li class="my-5">所在地：<%= @parking.address %></li> 
    <li class="my-5">駐輪料金：<%= @parking.fee %>円/<%= @parking.time %>分</li>
    <li class="my-5">１時間当たりの駐輪料金：<%= @parking.price %>円</li>
    <li class="my-5">収容台数：<%= @parking.capacity %>台</li>
    <li class="my-5">備考：<%= @parking.others %></li>
    <li class="my-5">投稿者：<%= @parking.user.username %></li>
  </ul>
</div>